/Ej_propuesto_18/nbproject/private/
/Ej_propuesto_19_t3/nbproject/private/
/Ej_propuesto_19_t3/build/
/Ej_propuesto_18_t3/nbproject/private/
/Ej_propuesto_18_t3/build/
/Ej_resuelto_7_t3/nbproject/private/
/Ej_resuelto_7_t3/build/
/Ej_resuelto_10_t3/nbproject/private/
/Ej_resuelto_10_t3/build/
